table
  tr
    td Name
    td Avatar
    td Favorite
  - @users.each do |user|
    tr
      td.login  = link_to( user['login'], user['html_url'])
      td.avatar = image_tag(user['avatar_url'], style: 'width:128px;height:128px;')
      td.favorite = check_box('', "favorite", { id: user['login'], onclick: raw("saveFavorite('#{user['login']}')"), checked: user['favorite']  } )
